@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 3.5rem;
}

a {
	text-decoration: none !important;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 5px;
	margin: 10px 0; 
	border-bottom: 1px dotted #ccc;
	
}

label {
	font-weight: bold;
}

.jumbotron {
	margin: 0 !important;
}

.breadcrumb {
	margin: 10px 0 !important;
}

footer {
	margin: 20px 0;
}

.footer {
	padding: 10px 0;
	margin-top: 20px;
	border-top: 1px dotted #ccc;
}