@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i);

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	background: url(../images/background-photo.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

a {
	text-decoration: none !important;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	padding: 12px 0;
	margin-bottom: 20px; 
	border-bottom: 1px dotted #ccc;
	
}

label {
	font-weight: bold;
}

footer {
	border-top:1px dotted #ccc;
	margin-top: 20px;
	padding: 10px 0;
}

.container {
	background-color: #fff;
}

.navbar-brand, .nav-link, .navbar-text {
	color: #ffffff !important;
}